<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116295486-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116295486-1');
    </script>

    <style>
      #map {
        height: 70%;
      }
      html, body {
        height: 100%;
      }
    </style>
  </head>

  <body>
    <form action="javascript:;" onSubmit="addPlace(place.value)">
      <input type="text" name="place" />
      <input type="submit" value="Add Place" />
    </form>

    <a href=".">Reset</a>

    <h1>Furthest location</h1>
    <ul>
      <li>Latitude {{furthest_lat}}</li>
      <li>Longitude {{furthest_long}}</li>
      <li>Distance {{distance_km}} km</li>
    </ul>

    <div id="map"></div>
    <script>
      var furthest_latlng = {lat: {{furthest_lat}},
                             lng: {{furthest_long}} };
      var furthest_dist_m = {{distance_km}} * 1000;
      var visited_points = JSON.parse("{{visited_points_json}}");

      var map;
      var geocoder;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 0, lng: furthest_latlng.lng},
          zoom: 1
        });
        geocoder = new google.maps.Geocoder();

        map.addListener('click', function(event) {
          addPoint(event.latLng);
        });

        if (furthest_dist_m > 0) {
          var circle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: furthest_latlng,
              radius: furthest_dist_m,
            });
          new google.maps.Marker({
              position: furthest_latlng,
              map: map,
              label: "X",
            });
          circle.addListener('click', function(event) {
            addPoint(event.latLng);
          });
        }

        for (var i = 0; i < visited_points.length; ++i) {
          point = visited_points[i];
          var marker = new google.maps.Marker({
              position: {lat: point[0], lng: point[1]},
              map: map,
            });
          // TODO
          // marker.addListener('dblclick', function() {
          //   marker.setMap(null);
          // });
        }
      }

      function addPoint(latLng) {
        window.location.href = (".?lat=" + encodeURIComponent(latLng.lat()) +
                                "&lng=" + encodeURIComponent(latLng.lng()) +
                                "&latlongs_json=" + JSON.stringify(visited_points));
      }

      function addPlace(place) {
        geocoder.geocode({'address': place},
                         function(results, status) {
          if (status == 'OK') {
            addPoint(results[0].geometry.location);
          } else {
            alert('We could not find the place you entered. Error: ' + status);
          }
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbJax4x3Az-a5nGTfbGN0eV2Upc-oAknw&callback=initMap" async defer></script>
  </body>
</html>
